<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gameease">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameEase"
        tools:targetApi="31">

        <!-- Splash screen: first to launch -->
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main menu activity -->
        <activity android:name=".MainActivity" />

        <!-- Rules Activities -->
        <activity android:name=".TicTacToeRulesActivity" />
        <activity android:name=".RPSRulesActivity" />
        <activity android:name=".MemoryMatchRulesActivity" />
        <activity android:name=".DotsBoxesRulesActivity" />
        <activity android:name=".NumberNimRulesActivity" />
        <activity android:name=".TicTacToeGameActivity" />
        <activity android:name=".RPSGameActivity" />
        <activity android:name=".MemoryMatchGameActivity" />
        <activity android:name=".DotsBoxesGameActivity" />
        <activity android:name=".NumberNimGameActivity" />




    </application>

</manifest>

